main section:nth-of-type(2),
main section:nth-of-type(3) {
    padding: 1rem;

    h2 {
        color: var(--d700-bleached-silk);
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 1rem;
    }

    >p {
        padding-top: 8px;
        color: var(--base-night-rider);
        font-weight: 400;
        font-size: 1em;
    }

    >div:nth-of-type(1) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        select {
            background-color: var(--l700-night-rider);
            font-family: TASA Orbiter;
            font-weight: 400;
            font-size: 1em;
            text-align: center;
            border-radius: 8px;
            padding: 8px;
            height: fit-content;
            width: 10em;
            text-wrap: nowrap;

        }

        select:open {
            border-radius: 8px 8px 0px 0px;
            background-color: var(--d100-night-rider);
            color: var(--base-bleached-silk);
            font-weight: 900;
        }

        option {
            background-color: var(--l100-night-rider);
            font-weight: 400;
            padding: 8px;
            transition: 0.2s;
        }

        option:hover {
            color: var(--base-night-rider);
            background-color: var(--base-bleached-silk);
        }

        option::checkmark {
            display: none;
        }

    }
}

select,
select::picker(select) {
    appearance: base-select;
    border: none;
    color: var(--base-bleached-silk);
    font-family: var(--tasa-orbiter);
}

select::picker-icon {
    content: "▾";
    scale: 1.4;
    transition: rotate 0.2s;
    rotate: 90deg;
}

select:open::picker-icon {
    rotate: 0deg;
}

select option:last-child {
    border-radius: 0px 0px 8px 8px;
}

@property --reveal {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

section {
    .swipe-tip {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 0.5rem;

        svg {
            path {
                fill: var(--d300-bleached-silk);
            }
        }

        p {
            color: var(--d300-bleached-silk);
        }

    }

    search {
        anchor-scope: all;

        button {
            anchor-name: --search;
        }

        form[popover]:popover-open {
            position-anchor: --search;
            top: anchor(bottom);
            right: anchor(right);
            margin-top: 0.7rem;
            width: 100%;
            mask-image: linear-gradient(to bottom, #000 var(--reveal), transparent var(--reveal));
            transition: --reveal 0.2s ease;
            --reveal: 100%;

            @starting-style {
                --reveal: 0%;
                rotate: 45deg;
            }


            label {
                display: none;
            }

            input {
                width: 100%;
                padding: 0.8rem;
                background-color: var(--d100-bleached-silk);
            }

        }
    }

}

section::after {
    display: block;
    --i: calc(100% / 14);
    height: 2px;
    content: "";
    margin-inline: 3rem;
    background-image:
        linear-gradient(to right, var(--d200-bleached-silk) calc(var(--i) / 2),
            transparent calc(var(--i) / 2) calc(var(--i) * 1.5),
            var(--d200-bleached-silk) calc(var(--i) * 1.5) calc(var(--i) * 2.5),
            transparent calc(var(--i) * 2.5) calc(var(--i) * 3.5),
            var(--d200-bleached-silk) calc(var(--i) * 3.5) calc(var(--i) * 4.5),
            transparent calc(var(--i) * 4.5) calc(var(--i) * 5.5),
            var(--d200-bleached-silk) calc(var(--i) * 5.5) calc(var(--i) * 6.5),
            transparent calc(var(--i) * 6.5) calc(var(--i) * 7.5),
            var(--d200-bleached-silk) calc(var(--i) * 7.5) calc(var(--i) * 8.5),
            transparent calc(var(--i) * 8.5) calc(var(--i) * 9.5),
            var(--d200-bleached-silk) calc(var(--i) * 9.5) calc(var(--i) * 10.5),
            transparent calc(var(--i) * 10.5) calc(var(--i) * 11.5),
            var(--d200-bleached-silk) calc(var(--i) * 11.5) calc(var(--i) * 12.5),
            transparent calc(var(--i) * 12.5) calc(var(--i) * 13.5),
            var(--d200-bleached-silk) calc(var(--i) * 13.5));
}

section:last-child::after {
    content: "";
    background-image: none;
}