.horizontal-carousel {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    gap: 16px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    article {
        scroll-snap-align: center;
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        max-width: 330px;
        height: 300px;
    }
}